/* @media (width: 800px){

} */

/* the whole body */
body {
    background-color: yellow;
}
/* landing page */
.section1 img {
   width: 100%;
}
.section1 h1 {
    position: absolute;
    color: rgb(241, 13, 13);
    top: 35vh;
    left: 50%;
    font-size: 150px;
    font-family: 'Cormorant Garamond', serif; Light 300 Italic;
}
.section1 h6 {
    position: absolute;
    top: 100vh;
    left: 50%;
    font-size: 48px;
    color: rgb(241, 13, 13);
    font-family: 'Cormorant Garamond', serif; Light 300 Italic;
}
/* the about us section */

.about {
    text-align: center;
    color: white;
    padding: 45px;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif; Light 300 Italic;

}
#container {
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    border: 5px;
    display: flex;
}
