/* @media (width: 800px){

} */
body {
    background-color: rgb(0, 0, 0);
}

.section1 img {
   width: 100%;
}
.section1 h1 {
    position: absolute;
    color: rgb(241, 13, 13);
    top: 35vh;
    left: 50%;
    font-size: 150px;
    font-family: 'Cormorant Garamond', serif; Light 300 Italic;
}
.section1 h6 {
    position: absolute;
    top: 100vh;
    left: 50%;
    font-size: 48px;
    color: rgb(241, 13, 13);
    font-family: 'Cormorant Garamond', serif; Light 300 Italic;
}
.about h1 {
    color: white;
    text-align: center;
    padding: 45px;
    font-family: 'Cormorant Garamond', serif; Light 300 Italic;
    font-size: 40px;
}
.about img {
    padding-left: 50px;
}